* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
}

.wrap {
  width: 100%;
  height: 100vh;
  background: url(../../imgs/navClickDemo/bg1.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 110px;
  height: 820px;
  background: rgba(0, 0, 0, 0.8);
}
