.progress {
  width: 120px;
  height: 60px;
  border-radius: 200px 200px 0 0;
  /* 用 repeating-radial-gradient 方法画出环状的蒙版遮罩 */
  -webkit-mask: repeating-radial-gradient(
    farthest-side at bottom,
    #0000 0,
    #000 1px 12%,
    #0000 calc(12% + 1px) 20%
  );
  /* radial-gradient 从底部向上圆形渐变填充 */
  background: radial-gradient(farthest-side at bottom, #514b82 0 95%, #0000 0)
    bottom/0% 0% no-repeat #ddd;
  animation: p9 2s infinite steps(6);
}
@keyframes p9 {
  100% {
    background-size: 120% 120%;
  }
}
